.navbar-brand {
  width: 70%;
  text-align: center;
}

.navbar {
  justify-content: center;
}

.nav-item {
  color: white;
  font-family: 'Gotham-Bold';
  margin-left: 5%;
}

button {
  max-width: 15%;
  margin-left: 15px;
  font-family: 'Gotham-Book';
}

.title {
  font-family: 'Gotham-Bold';
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Gotham-Book';
  text-transform: uppercase;
  font-size: 15px;
}

.container {
  margin-top: 85px;
}

.bold {
  font-family: Gotham-Bold;
}

#printable {
  margin-bottom: 10px;
}

#watermark {
  margin-bottom: 10px;
}