<div #printable>
  <nav class="navbar fixed-top navbar-dark background">
    <div class="navbar-brand">
      <span class="title">
        Spoti
        <img class="logo" src="../assets/logo-flag.png">
        Vision
      </span>
      <div class="subtitle">Benidorm Fest 2022</div>
    </div>
  </nav>
  <div class="container">
    <div *ngIf="!token; else ranking" style="align-items: center;">
      <p>Obtén tu ranking total y tus puntos del 1 al 12 de las canciones del Benidorm Fest 2022 en base a tus reproducciones de Spotify. El ranking se genera en base a tus canciones más escuchadas en Spotify en los últimos tiempos.</p>
      <p>Es importante saber que <b>Spotify actualiza a diario los rankings de tus listas más escuchadas</b> y que <b>cuanto más tiempo pase, más acertará tu ranking.</b></p>
      <p>Desarrollado por <a href="https://twitter.com/inixiodev" target="blank">@inixiodev</a>. Todos los derechos reservados.</p>
      <div class="col text-center">
        <button type="button" class="btn btn-block btn-primary background" style="max-width: fit-content; margin: 0 auto;" (click)="authorize()">Iniciar sesión con Spotify</button>
      </div>
    </div>
    <ng-template #ranking>
      <div>
        <div class="col" style="display: flex;">
          <button type="button" class="btn btn-block btn-primary background" style="max-width: fit-content; margin: 0 auto;" (click)="saveImage()">Guardar como imagen</button>
          <button type="button" class="btn btn-block btn-primary background" style="max-width: fit-content; margin: 0 auto;" (click)="share()">Compartir app</button>
        </div>
        <div class="bold" *ngIf="profile">Puntos otorgados por {{profile.name || profile.id}} en el Benidorm Fest 2022 según Spotify</div>
        <ranking [contestants]="contestants"></ranking>
      </div>
    </ng-template>
  </div>
</div>
