<div #printable>
  <nav class="navbar fixed-top navbar-dark background">
    <div class="navbar-brand">
      <span class="title">
        Spoti
        <img class="logo" src="../assets/logo-flag.png">
        Vision
      </span>
      <div class="subtitle">2021</div>
    </div>
  </nav>
  <div class="container">
    <div *ngIf="!token; else ranking" style="align-items: center;">
      <p>Generate your Eurovision 2021 ranking based on your most played songs.</p>
      <p>I generate a Eurovision 2021 ranking based on your top tracks in the last 3 months, 6 months and last yea </p>
      <p>Developed by @inixiodev. All rights reserved.</p>
      <div class="col text-center">
        <button type="button" class="btn btn-block btn-primary background" style="max-width: fit-content; margin: 0 auto;" (click)="authorize()">Login with Spotify</button>
      </div>
    </div>
    <ng-template #ranking>
      <div>
        <div class="col" style="display: flex;">
          <button type="button" class="btn btn-block btn-primary background" style="max-width: fit-content; margin: 0 auto;" (click)="saveImage()">Save as Image</button>
          <button type="button" class="btn btn-block btn-primary background" style="max-width: fit-content; margin: 0 auto;" (click)="share()">Share app</button>
        </div>
        <div class="bold" *ngIf="profile">{{profile.name || profile.id}}'s Eurovision 2021 ranking according to Spotify</div>
        <ranking [contestants]="contestants"></ranking>
      </div>
    </ng-template>
  </div>
</div>
