.ranking-item {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0 0px;
    color: white;
    padding-bottom: 1px;
}

.song {
    margin-left: 2px;
}

.info {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 5px;
}

.title {
    font-family: 'Gotham-Bold';
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 180px; // some width
}

.singer {
    font-family: 'Gotham-Book';
    font-size: 11px;
}

.points {
    width: 50px;
    min-height: 50px;
    margin: 0px;
    color: white;
    justify-content: center;
    font-family: 'Gotham-Bold';
    align-items: center;
    text-align: center;
    display: flex;
    &_container {
        width: 100px;
        display: flex;
    }
}

.animation {
    animation: points-anim2 1s;
}

ul {
    padding-left: 0;
}

.flag {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 5px;
}

@keyframes points-anim {
    from { 
        width: 0; 
        opacity: 0;
    }
    to { 
        width: 50px; 
        opacity: 1;
    }
}

@keyframes points-anim2 {
    from {  
        opacity: 0;
    }
    to { 
        opacity: 1;
    }
}